body {
	min-height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-size: 1.3rem;
}
.App {
	position: absolute;
	min-height: 100vh;
	min-width: 100vw;
	top: 0;
	bottom: 0;
	background-color: rgba(31, 34, 118, 0.5);
}
h1 {
	text-align: center;
	margin: auto;
}
.Task {
	text-align: center;
	padding: 5%;
}
